<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="card-body" class="content-cards">
    <div class="card_photo" th:each="photo: ${photosUsuario}">
        <div class="photo-image">
            <div class="for-scale">
                <span th:text="${photo.urlPhoto}" class="urlFoto"></span>
                <span th:text="${photo.title}" class="titleFoto"></span>
                <img >
                <span class="photo-details">
                    <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Details" type="button" title="" th:href="@{/photos/details/} + ${photo.uploadId}"><i class="fa-solid fa-circle-info"></i></a>
                </span>
            </div>
        </div>
        <div class="photo">
            <div class="container-description">
                <div class="title">
                    <span th:text="${photo.title}"></span>
                </div>
                <div class="info">
                    <div class="info_author">
                        <span class="desc">Author: </span>
                        <span class="authorFoto" th:text="${photo.usuario.nombre + ' ' + photo.usuario.apellidos}"></span>
                    </div>
                </div>
            </div>
            <div class="container-buttons">
                <div class="info_likes">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span th:text="${photo.likes}"></span>
                </div>
                <div class="buttons">
                    <div class="button_download">
                       <!--  <a title="Download" href="#"><i
                                class="fa-solid fa-circle-arrow-down"></i></a> -->
                    </div>
                   <!--  <div class="button_add-favorites">
                        <a title="Add to favorites" class="favorites" href="#"><i
                                class="fa-solid fa-heart"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>