<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://kit.fontawesome.com/0699e3b721.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="${title}"></title>
</head>

<body>
    
    <header class="header" th:fragment="header">
        <nav class="header_navbar">
            <div class="accordion">
                <ul class="list-accordion">
                    <li><a th:href="@{/photos/search}"><i class="fa-solid fa-magnifying-glass"></i><span>Buscar</span></a></li>
                    <li><a th:href="@{/photos/all}">Todas las fotos</a></li>
                    <li><a th:href="@{/photos/own}">Mis fotos</a></li>
                    <li><a th:href="@{/photos/favorites}">Favoritos</a></li>
                </ul>
            </div>
            <div class="navbar_container-responsive">
                <div class="responsive_accordion">
                    <div class="accordion_button">
                        <button class="button_for-active">
                            <i class="fa-solid fa-bars active"></i>
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <div class="responsive_logo">
                    <a class="logo" th:href="@{/}">Photogallery</a>
                </div>
                <div class="responsive_account">
                    <div class="account" title="My profile">
                        <a th:href="@{/login}" class="account_sign-log" title="Sign-in" sec:authorize="isAnonymous()">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                        <a th:href="@{/account}" class="userprofile-photo dropdown-toggle" sec:authorize="isAuthenticated()" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:if="${profilePictureUser == null}" th:src="@{/img/default_profile.jpg}" alt="">
                            <span th:if="${profilePictureUser != null}" th:text="${profilePictureUser}" hidden id="urlPictureForLayout"></span>
                            <img th:if="${profilePictureUser != null}" src="" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/account}">Mi perfil</a></li>
                            <li><a class="dropdown-item" th:href="@{/photos/upload}">Subir una foto</a></li>
                            <li>
                                <a class="dropdown-item" href="">
                                    <form id="logoutForm" class="form-logout" th:action="@{/logout}" method="post">
                                        <input name="_csrf" type="hidden" value="63155ace-bc25-48a4-b881-1ad730b9268b" />
                                        <button onclick="document.getElementById('logoutForm').submit()" class="btn btn-outline">Cerrar sesion</button>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar_container-list">
                <ul class="list">
                    <li class="list_logo"><a th:href="@{/}">Photogallery</a></li>
                    <li class="list_option list_index"><a th:href="@{/photos/all}">Todas las fotos</a></li>
                    <li class="list_option list_my-photos"><a th:href="@{/photos/own}">Mis fotos</a></li>
                    <li class="list_option list_search"><a th:href="@{/photos/search}"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li class="list_option list_favorites"><a th:href="@{/photos/favorites}">Favoritos</a></li>
                </ul>
            </div>
            <div class="navbar_container-sign" sec:authorize="isAnonymous()">
                <div class="sign_in">
                    <a th:href="@{/login}" class="">Iniciar sesion</a>
                </div>
                <div class="log_in">
                    <a th:href="@{/signup}" class="">Registrarse</a>
                </div>
            </div>
            <div class="navbar_container-userprofile" sec:authorize="isAuthenticated()">
                <div class="dropdown userprofile">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="userprofile-photo">
                            <img th:if="${profilePictureUser == null}" th:src="@{/img/default_profile.jpg}" alt="">
                            <span th:if="${profilePictureUser != null}" th:text="${profilePictureUser}" hidden id="urlPictureForLayout2"></span>
                            <img th:if="${profilePictureUser != null}" src="" alt="">
                        </div>
                        <div class="userprofile-name">
                            <span id="nombreCortado" th:text="${usuario.nombre + ' ' + usuario.apellidos}"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/account}">Mi perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/photos/upload}">Subir una foto</a></li>
                        <li>
                            <a class="dropdown-item" href="">
                                <form class="form-logout" th:action="@{/logout}" method="post">
                                    <input name="_csrf" type="hidden" value="63155ace-bc25-48a4-b881-1ad730b9268b" />
                                    <button type="submit" class="btn btn-outline">Cerrar sesion</button>
                                </form>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="alert alert-info" th:if="${info != null}">
            <span class="controller-messages info-message" th:text="${info}"></span>
            <button type="button" class="close-button_controller-message"><i class="fa-solid fa-x"></i></button>
        </div>
        <div class="alert alert-success" th:if="${successMessage != null}">
            <span class="controller-messages success-message" th:text="${successMessage}"></span>
            <button type="button" class="close-button_controller-message"><i class="fa-solid fa-x"></i></button>
        </div>
        <div class="alert alert-danger" th:if="${errorMessage != null}">
            <span class="controller-messages error-message" th:text="${errorMessage}"></span>
            <button type="button" class="close-button_controller-message"><i class="fa-solid fa-x"></i></button>
        </div>
        <!-- <div class="alert alert-success" th:if="${successfulUpdateUsername != null}" th:text="${successfulUpdateUsername}"></div>
        <div class="alert alert-success" th:if="${successfulPhoto != null}" th:text="${successfulPhoto}"></div>
        <div class="alert alert-success" th:if="${successfulUpdatePassword != null}" th:text="${successfulUpdatePassword}"></div>
		<div class="alert alert-danger" th:if="${errorUpdateUsername != null}" th:text="${errorUpdateUsername}"></div>
		<div class="alert alert-danger" th:if="${errorPhoto != null}" th:text="${errorPhoto}"></div>
		<div class="alert alert-danger" th:if="${errorUpdatePassword != null}" th:text="${errorUpdatePassword}"></div> -->
    </header>

    <footer th:fragment="footer" class="gallery-footer">
        <div class="footer-info">
            <div class="container-info">
                <div class="info">
                    <div class="title">
                        <div class="icon"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="title_title">
                            <h4>Information</h4>
                        </div>
                    </div>
                    <div class="details info_details-list">
                        <ul class="details-list">
                            <li><a href="#">Github</a></li>
                            <li><a href="#">About me</a></li>
                            <li><a href="#">Notices</a></li>
                            <li><a href="#">References</a></li>
                        </ul>
                    </div>
                </div>
                <div class="info_social-media">
                    <div class="title">
                        <div class="icon">
                            <i class="fa-solid fa-network-wired"></i>
                        </div>
                        <div class="title_title">
                            <h4 class="title-social">Social</h4>
                        </div>
                    </div>
                    <div class="details details-social">
                        <ul class="social_details-list">
                            <li>
                                <a href="#">
                                    <div class="container_social-icons icon-fb"><span class="social-icons"><i class="fa-brands fa-facebook"></i></span>
                                    </div>
                                    <div class="social-fb"><span>Facebook</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="container_social-icons icon-ig">
                                        <span class="social-icons ig"><i class="fa-brands fa-instagram"></i></span>
                                    </div>
                                    <div class="social-ig"><span>Instagram</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="container_social-icons icon-tw"><span class="social-icons tw"><i class="fa-brands fa-twitter"></i></span>
                                    </div>
                                    <div class="social-tw"><span>Twitter</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="container_social-icons icon-yt"><span class="social-icons yt"><i class="fa-brands fa-youtube"></i></span>
                                    </div>
                                    <div class="social-yt"><span>Youtube</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="copyright"><span>Copyright ©2022 All rights reserved.</span></div>
            <div class="author"><span>This page is created by <a href="#">LeanCoder.</a></span></div>
        </div>
        <script th:src="@{/js/accordion.js}"></script>
        <script th:src="@{/js/popover.bundle.js}"></script>
        <script th:src="@{/js/profile-details.js}"></script>
        <script th:src="@{/js/controller-messages.js}"></script>
        <script th:src="@{/js/charge-profile-photo.js}"></script>
    </footer>

</body>