<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="body-page">
    <script src="https://npmcdn.com/minigrid@3.0.1/dist/minigrid.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/photos/photos.css}">
    <link rel="stylesheet" th:href="@{/css/photos/keep.css}">
    <div class="main">
        <header th:replace="layout/layout :: header"></header>
        <main>
            <div class="container_photos">
                <div class="photos">
                    <div class="title-desc_and_btn-upload">
                        <div class="title_and_desc">
                            <h1>Mis fotos</h1>
                            <p>
                                Aqui podras encontrar tus fotos.
                            </p>
                            <p th:if="${usuario.photos.isEmpty()}" class="upload-text-1"> ¿No tienes fotos?
                                <a th:href="@{/photos/upload}">Empieza subiendo tu primera foto.</a>
                            </p>
                        </div>
                        <div th:if="${!(usuario.photos.isEmpty())}" class="btn_go-to-upload-picture">
                            <a class="go-to-upload" th:href="@{/photos/upload}">
                                <span class="upload-text-2">Publicar foto</span>
                                <span class="upload-icon"><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="container-order">
                    </div>
                    <div class="main_content">
                        <div th:replace="layout/card-body :: card-body"></div>
                    </div>
                    <div th:if="${!photosUsuario.isEmpty}" class="paginator">
                        <nav th:replace="paginator-nav :: paginator"></nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
    <script th:src="@{/js/for-download-photo.js}"></script>
    <script th:src="@{/js/charge-photos.js}"></script>
    <script th:src="@{/js/orderSelect.js}"></script>
</body>

</html>