<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="body-page">
    <link rel="stylesheet" th:href="@{/css/photos/photos.css}">
    <div class="main">
        <header th:replace="layout/layout :: header"></header>
        <main>
            <div class="container_photos">
                <div class="photos">
                    <div class="title_and_desc">
                        <h1>Search</h1>
                        <p>You can search a picture by the title</p>
                        <div class="container_search-input">
                            <div class="search-input">
                                <input type="text" placeholder="Place the title...">
                                <div class="button-search">
                                    <button>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_content">
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>