<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <div class="main">
        <header th:replace="layout/layout :: header"></header>
        <main>
            <div class="container_error">
                <div class="alert alert-danger not-found">
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>