.title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.title h1 {
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: rgb(9, 201, 102);
    font-size: 'Fredoka';
}

.body {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 5px 6px 18px -12px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 5px 6px 18px -12px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 5px 6px 18px -12px rgba(0, 0, 0, 0.69);
    padding: 30px 50px;
}

.body>h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
}

.despedida {
    display: flex;
    flex-direction: column;
}

.despedida>span {
    display: block;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.btn-verificar {
    display: inline-block;
    background-color: rgb(9, 201, 102);
    color: rgb(243, 243, 243);
    text-decoration: none;
    font-weight: 700;
    width: auto;
    height: auto;
    padding: 10px 18px;
    border-radius: 3px;
}

.btn-verificar:hover {
    color: rgb(243, 243, 243);
    opacity: 0.9;
}

.body-2 {
    background-color: rgb(241, 146, 146);
    padding: 30px;
}

.body-2 > p{
    font-weight: 600;
    color: white;
    margin: 0;
}

#token {
    display: none;
}