<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="body-page">
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
        <main>
            <div class="container_forgot">
                <div class="forgot">
                    <div class="forgot-group one">
                        <input type="text" placeholder="Nueva contraseña">
                    </div>
                    <div class="forgot-group">
                        <input type="text" placeholder="Confirmar contraseña">
                    </div>
                    <div class="forgot-group last">
                        <button type="button">Cambiar</button>
                    </div>
                </div>
            </div>
        </main>
</body>

</html>