<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}" />
<script th:src="@{/js/modernizr.custom.js}"></script>

<body class="body-page">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <header th:replace="layout/layout :: header"></header>
    <div class="container">
        <div class="main_title-presentation">
            <h3 th:text="#{text.home.title}">Lo que mas gusta:</h3>
        </div>
        <ul class="grid effect-1" id="grid">
            <li th:each="photo: ${fotosMasLikeadas}">
                <span th:text="${photo.urlPhoto}" class="urlFoto"></span>
                <span th:text="${photo.title}" class="titleFoto"></span>
                <a th:href="@{/photos/details/{id}(id=${photo.uploadId})}"><img src=""></a>
            </li>
        </ul>
    </div>
    <script th:src="@{/js/masonry.pkgd.min.js}"></script>
    <script th:src="@{/js/imagesloaded.js}"></script>
    <script th:src="@{/js/classie.js}"></script>
    <script th:src="@{/js/AnimOnScroll.js}"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>
    <script th:src="@{/js/charge-photos.js}"></script>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>