<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="body-page">
    <link rel="stylesheet" th:href="@{/css/photos/photos.css}">
    <link rel="stylesheet" th:href="@{/css/photos/drag_and_drop_file.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <div class="main">
        <header th:replace="layout/layout :: header"></header>
        <main>
            <div th:object="${usuario}" class="container_profile">
                <!-- <a class="btn btn-primary" th:href="@{/account/update}">Update account</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete account</button> -->
                <div class="profile">
                    <div class="title">
                        <h1>Mi cuenta</h1>
                    </div>
                    <div class="content">
                        <div class="profile-card">
                            <div class="card-data">
                                <div class="data_profile-photo">
                                    <div class="profile-photo">
                                        <div th:if="${profilePictureUser == null}" class="photo"><img th:src="@{/img/default_profile.jpg}" alt=""></div>
                                        <div th:if="${profilePictureUser != null}" class="photo">
                                            <span id="profilePictureUserUrl" th:text="${profilePictureUser}" hidden></span>
                                            <img src="" alt="">
                                        </div>
                                        <div class="change-photo">
                                            <div class="change-button">
                                                <button th:if="${profilePictureUser == null}" id="btnForModalPicture" data-bs-toggle="modal"
                                                data-bs-target="#modalForUploadProfilePicture" type="button"><span>Subir</span><i class="fa-solid fa-pencil"></i></button>
                                                <button th:if="${profilePictureUser != null}" id="btnForModalPicture" data-bs-toggle="modal"
                                                data-bs-target="#modalForUploadProfilePicture" type="button"><span>Cambiar</span><i class="fa-solid fa-pencil"></i></button>
                                                <a th:if="${profilePictureUser != null}" th:href="@{'/account/delete/profile-picture/' + ${profilePictureUploadId}}" type="button"><span>Quitar foto</span><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data_profile-credentials">
                                    <div class="credentials_name"><span id="nameAndLastname1"
                                            th:text="*{nombre + '  ' + apellidos}"></span></div>
                                    <div class="credentials_username"><span th:text="*{'@' + username}"></span></div>
                                    <div class="credentials_photos">
                                        <span class="number-photos">
                                            <span class="number" th:text="${#lists.size(usuario.photos)}"></span>
                                            <span class="desc">fotos</span>
                                        </span>
                                        <a class="" th:href="@{/photos/own}">Ver fotos</a>
                                    </div>
                                    <div class="border-for-description"></div>
                                    <div class="credentials_description">
                                        <div title="description" th:text="*{description}"></div>
                                        <a id="btnModalDesc" type="button" data-bs-toggle="modal"
                                            data-bs-target="#modalForDescription" title="Cambia tu descripcion"
                                            href="">Editar</a>
                                    </div>
                                </div>
                                <div class="data_profile-create-date">
                                    <span>Se unio el<span th:text="*{fechaRegistro}" id="fechaRegistro"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-data">
                            <div class="data">
                                <div class="data_first-floor">
                                    <div class="complete-name_and_username">
                                        <div class="complete-name">
                                            <h3 id="nameAndLastname2" th:text="*{nombre + '  ' + apellidos}"></h3>
                                            <a id="btnModalNameAndLastName" type="button" data-bs-toggle="modal"
                                                data-bs-target="#modalForNameAndLastName" href="">Cambiar</a>
                                        </div>
                                        <div class="username">
                                            <div class="username_part-1">
                                                <span>Username: </span>
                                                <span class="user" th:text="*{username}"></span>
                                            </div>
                                            <div class="username_part-2">
                                                <a id="btnModalUsername" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#modalForUsername" href="">Cambiar username</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="email-password-status">
                                        <div class="email">
                                            <div class="email_part-1">
                                                <span>Email: </span>
                                                <span class="ema" th:text="*{email}"></span>
                                            </div>
                                            <div class="email_part-2">
                                                <a type="button" data-bs-toggle="modal"
                                                data-bs-target="#modalForEmail" href="">Cambiar email</a>
                                            </div>
                                        </div>
                                        <div class="password">
                                            <div class="password_part-1">
                                                <span>Contraseña: </span>
                                                <span class="pass">************</span>
                                            </div>
                                            <div class="password_part-2">
                                                <a type="button" data-bs-toggle="modal"
                                                    data-bs-target="#modalForPassword" href="">Cambiar password</a>
                                            </div>
                                        </div>
                                        <div class="status">
                                            <div class="status_part-1">
                                                <span>Estado de cuenta: </span>
                                                <button id="accountStatus" type="button" class="sta"
                                                    th:text="*{enabled}" data-bs-container="body"
                                                    data-bs-toggle="popover" data-bs-placement="bottom"
                                                    data-bs-trigger="focus"
                                                    data-bs-content="Active su cuenta con el correo, en caso de no estar activada."></button>
                                            </div>
                                            <div class="status_part-2" th:if="*{!enabled}">
                                                <a th:href="@{/reapply-verification}">Solicitar verificacion</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data_last-floor">
                                    <div class="container_button-delete">
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            class="btn btn-outline" href="#"><span><i
                                                    class="fa-solid fa-trash-can"></i></span>Eliminar cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar cuenta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">¿Esta seguro de eliminar su cuenta? (Todos los registros de fotos y sus acciones seran eliminados, sin posibilidad de recuperarlos).</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No estoy seguro</button>
                        <a th:href="@{/account/delete}" type="button" class="btn btn-primary">Si</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalForUploadProfilePicture" tabindex="-1" aria-labelledby="modalForUploadProfilePicture" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cambiar tu foto de perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/account/upload-profile-photo}" enctype="multipart/form-data" th:object="${photoValidator}">
                            <div class="form-picture_inputs">
                                <div class="picture-uploader">
                                    <div class="uploader">
                                        <div class="drag-area">
                                            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                            <div class="header-file">
                                                <header class="">Arrastra y suelta para seleccionar</header>
                                            </div>
                                            <div class="span-file"><span>o</span></div>
                                            <div class="button-file">
                                                <button type="button">Selecciona</button>
                                            </div>
                                            <input type="file" hidden th:field="*{file}">
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-details">
                                    <div class="details">
                                        <div class="details_form-group form-title">
                                            <label for="title">Titulo</label>
                                            <input type="text" placeholder="Ingresa el titulo" id="title"
                                            th:field="*{title}"  maxlength="60">
                                        </div>
                                        <div class="details_form-group">
                                            <label for="description">Descripcion</label>
                                            <textarea id="description" cols="40" rows="7"
                                            th:field="*{description}" placeholder="Ingresa la descripcion" maxlength="200"
                                                ></textarea>
                                        </div>
                                        <div class="details_form-group form-button">
                                            <button type="submit" class="btn-save">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div th:if="${formErrors != null}" class="form-picture_error-messages alert alert-danger">
                            <ul>
                                <li th:each="formError: ${formErrors}" class=""><span
                                        th:text="${formError.getDefaultMessage()}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForDescription" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" th:action="@{/account/update-description}" th:object="${formDescripcion}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Editar descripcion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            </div>
                            <div class="input-desc">
                                <div class="input">
                                    <textarea id="textAreaDescription" cols="30" rows="10" th:field="*{content}"
                                        placeholder="Mi descripcion es..."></textarea>
                                    <!-- <span class="character-count">
                                            <span id="counter">0</span>
                                            <span>/</span>
                                            <span>200</span>
                                        </span> -->
                                </div>
                                <div class="desc-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForNameAndLastName" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" th:action="@{/account/update-names}" th:object="${formNameAndLastName}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Editar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            </div>
                            <div class="inputs">
                                <div class="input-name">
                                    <label for="name">Nombres</label>
                                    <input id="name" type="text" placeholder="Ingrese su nombre" th:field="*{name}">
                                    <div class="name-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                    </div>
                                </div>
                                <div class="input-lastname">
                                    <label for="lastname">Apellidos</label>
                                    <input id="lastname" type="text" placeholder="Ingrese sus apellidos" th:field="*{lastname}">
                                    <div class="lastname-error" th:if="${#fields.hasErrors('lastname')}"
                                        th:errors="*{lastname}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForUsername" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" th:action="@{/account/update-username}" th:object="${formUsername}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Cambiar username</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            </div>
                            <div class="inputs">
                                <div class="input-name">
                                    <input id="username" type="text" placeholder="Ingrese tu nuevo username" th:field="*{content}">
                                    <div class="name-error" th:if="${#fields.hasErrors('content')}"
                                        th:errors="*{content}"></div>
                                </div>
                                <!-- <div class="input-lastname">
                                    <label for="lastname">Lastname</label>
                                    <input id="lastname" type="text" placeholder="Lastname" th:field="*{lastname}">
                                    <div class="lastname-error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                                </div> -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForEmail" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" th:action="@{/account/update/email}" th:object="${formChangeEmail}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Cambiar email</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            </div>
                            <div class="inputs">
                                <div class="input-name">
                                    <input id="username" type="text" placeholder="Ingrese tu nuevo email" th:field="*{email}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Cambiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForPassword" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" th:action="@{/account/update-pass1}" th:object="${formChangePassword}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Cambiar contraseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="inputs">
                                <div class="input-name">
                                    <label for="oldPassword">Contraseña anterior</label>
                                    <input id="oldPassword" type="text" th:field="*{oldpass}">
                                </div>
                                <div class="input-lastname">
                                    <label for="newPassword">Nueva contraseña</label>
                                    <input id="newPassword" type="text" th:field="*{newpass}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button id="btnInvalidFile" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invalidFileModal" hidden></button>
        <div class="modal fade" id="invalidFileModal" tabindex="-1" aria-labelledby="invalidFileModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="body-message">Este archivo no es valido (<b>JPG</b>, <b>JPEG</b> y/o <b>PNG</b> son permitidos).</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <button id="btnInvalidSizeFile" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invalidSizeFile" hidden></button>
        <div class="modal fade" id="invalidSizeFile" tabindex="-1" aria-labelledby="invalidSizeFile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="body-message">Tamaño maximo excedido (max <b>10MB</b>).</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
    <span th:if="${modalActivator}" id="modalActivator" th:text="${modalActivator}" hidden></span>
    <script th:src="@{/js/user-time-formatter.js}"></script>
    <script th:src="@{/js/popover.js}"></script>
    <script th:src="@{/js/modalActivator.js}"></script>
    <script th:src="@{/js/drag-and-drop-file.js}"></script>
</body>

</html>