<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body class="body-page">
    <div class="main">
        <header th:replace="layout/layout :: header"></header>
        <div th:object="${usuario}">
            <a class="btn btn-primary" th:href="@{/account/update}">Update account</a>
            <a class="btn btn-danger" th:href="@{/account/delete}">Delete account</a>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>